// ============================================
// Element Plus: Tag (el-tag)
// ============================================
.el-tag {
  border-width: 0.01rem;
  padding: 0 0.09rem;
  height: 0.24rem;
  font-size: 0.12rem;
}

