@use './theme-vars.scss' as *;
@use './_table-row.scss' as table-row;

.voltage-class {
  .el-table-v2 {
    background-color: transparent;

    &::-webkit-scrollbar {
      width: 0.06rem;
      height: 0.06rem;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.18);
      border-radius: 0.03rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .el-table-v2__header {
      background: rgba(84, 98, 140, 0.2);

      .el-table-v2__header-row {
        height: $table-row-height;
        background: transparent;
      }

      .el-table-v2__header-cell {
        @include table-row.vt-table-cell-shell;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        background: transparent;

        &.is-fixed-right {
          background-color: #243b65;
          box-shadow: 0.03rem 0 0.06rem rgba(0, 0, 0, 0.06);
        }

        &.is-fixed-left {
          background-color: #243b65;
          box-shadow: -0.03rem 0 0.06rem rgba(0, 0, 0, 0.06);
        }
      }
    }

    .el-table-v2__body {
      background: transparent;

      .el-table-v2__row {
        height: $table-row-height;
        transition:
          background 0.2s,
          box-shadow 0.2s,
          color 0.2s;

        &:hover {
          background: #283f69;
        }
      }

      .el-table-v2__cell {
        @include table-row.vt-table-cell-shell;
        color: #fff;
        background: transparent;

        &.is-fixed-right {
          background-color: #243b65;
          box-shadow: 0.03rem 0 0.06rem rgba(0, 0, 0, 0.06);
        }

        &.is-fixed-left {
          background-color: #243b65;
          box-shadow: -0.03rem 0 0.06rem rgba(0, 0, 0, 0.06);
        }
      }

      .el-table-v2__empty {
        background: transparent;

        .el-table-v2__empty-text {
          color: #9ca3af;
          font-size: 0.14rem;
        }
      }
    }

    .el-table-v2__main,
    .el-table-v2__header,
    .el-table-v2__body,
    .el-table-v2__row,
    .el-table-v2__header-row,
    .el-table-v2__cell,
    .el-table-v2__header-cell {
      background-color: transparent;
    }
  }
}
